include/grub/cpu*
include/grub/machine*
*pf2
*.cache
*-h
*-h1
*.m4
config*
Makefile*
*.info
docs*
*.a
*.swo
*.swp
*.in
*.o
*.ko
*.po
*.mo
*.rej
*.orig
.deps*
.dirstamp*
ABOUT-NLS
AUTHORS
BUGS
COPYING
ChangeLog
INSTALL
NEWS
README
THANKS
TODO
autogen.sh
build-aux/
conf/
coreboot.cfg
debian/
geninit.sh
gentpl.py
linguas.sh
po/
tests/
themes/
unicode/
